In [ ]:
import pandas as pd

data = pd.read_csv('./URBAN_BUS_ROUTE.dyna')

In [2]:
data

         dyna_id   type                  time  entity_id  inflow  outflow
0              0  state  2017-01-01T05:30:00Z          0       0        0
1              1  state  2017-01-01T05:45:00Z          0       0        0
2              2  state  2017-01-01T06:00:00Z          0      20        1
3              3  state  2017-01-01T06:15:00Z          0      20       24
4              4  state  2017-01-01T06:30:00Z          0      36       11
...          ...    ...                   ...        ...     ...      ...
1308379  1308379  state  2017-02-28T22:15:00Z        307      27       19
1308380  1308380  state  2017-02-28T22:30:00Z        307      29       28
1308381  1308381  state  2017-02-28T22:45:00Z        307      23       33
1308382  1308382  state  2017-02-28T23:00:00Z        307      13       17
1308383  1308383  state  2017-02-28T23:15:00Z        307      17       18

[1308384 rows x 6 columns]

In [ ]:
zero_ratio_inflow = (data['inflow'] == 0).sum() / len(data)

In [ ]:
zero_ratio_inflow

0.03105739599383667

In [7]:
zero_ratio_outflow = (data['outflow'] == 0).sum() / len(data)

In [8]:
zero_ratio_outflow

0.03334953652750263