In [ ]:
import pickle

import os
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import re

# 打开 pickle 文件进行读取

with open('./data_del_some0_np.pickle', 'rb') as file:
    # 使用 pickle.load() 读取对象
    server_np_inflow = pickle.load(file)

with open('./data_np_server_outflow.pickle', 'rb') as file:
    # 使用 pickle.load() 读取对象
    server_np_outflow = pickle.load(file)

In [ ]:
server_np_outflow

array([  2,   6,  38,  43,  24, 102,  84,  86, 128,  75,  97,  53,  76,
        60,  27,  33,  44,  26,  27,  23,  24,  10,  25,  57,  24,  28,
        32,  32,  16,  50,  37,  40,  45,  28,  51,  62,  41,  47,  40,
        45,  30,  36,  34,  32,  46,  82,  30,  52,  42,  78,  70,  96,
        75,  73,  85,  78,  71,  48,  52,  48,  58,  46,  42,  60,  17,
        42,  40,  19,  28,  33,  17,  18])

In [2]:
server_np_outflow.shape

(59, 308, 72, 1)

In [ ]:
temp_data = server_np_outflow.transpose(0, 2, 1, 3)
temp_data.shape

(59, 72, 308, 1)

In [ ]:
b = temp_data.reshape(-1, 308, 1)

In [6]:
b.shape

(4248, 308, 1)

In [7]:
data_io = b

In [ ]:
data_server_i = [list(data_io[:, i, 0]) for i in range(len(data_io[0, :, 0]))]

In [ ]:
data_stn_i_merage = [i for item in data_server_i for i in item]

In [ ]:
import pandas as pd

data_in_out = pd.read_csv('./urban_bus_del_some0_data.csv', index_col='dyna_id')

In [18]:
data_in_out['outflow'] = data_stn_i_merage

In [ ]:
data_in_out.to_csv('URBAN_BUS_ROUTE.dyna', index=False)

In [ ]:
server_np_outflow[58, 307, :, 0]

array([  2,   6,  38,  43,  24, 102,  84,  86, 128,  75,  97,  53,  76,
        60,  27,  33,  44,  26,  27,  23,  24,  10,  25,  57,  24,  28,
        32,  32,  16,  50,  37,  40,  45,  28,  51,  62,  41,  47,  40,
        45,  30,  36,  34,  32,  46,  82,  30,  52,  42,  78,  70,  96,
        75,  73,  85,  78,  71,  48,  52,  48,  58,  46,  42,  60,  17,
        42,  40,  19,  28,  33,  17,  18])