In [ ]:
import os 
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import re

BUS_PATH="Singapore_bus"
dirs=os.listdir(BUS_PATH)
Bus_FileName_DirList=dirs
Bus_FileName_DirList = sorted(Bus_FileName_DirList)

In [2]:
Bus_Data=pd.read_csv(os.path.join(BUS_PATH,Bus_FileName_DirList[2]),low_memory=False)
# Bus_Data=Bus_Data.iloc[:, 7:]

In [3]:
Bus_Data.head(5)

,Card_Number,Card_Type,Travel_Mode,Bus_Service_Number,Direction,Bus_Trip_Num,Bus_Reg_Num,Boarding_stop_stn,Alighting_stop_stn,Ride_start_date,Ride_start_time,Ride_end_date,Ride_end_time
0,424599,Adult,Bus,184,1.0,2.0,1124.0,43061,43131,2017-01-03,08:32:24,2017-01-03,08:37:21
1,5925417,Senior Citizen,Bus,184,1.0,7.0,1535.0,44229,43099,2017-01-03,16:40:14,2017-01-03,16:44:44
2,2342589,Adult,Bus,184,1.0,6.0,1124.0,12091,42071,2017-01-03,14:56:48,2017-01-03,15:02:58
3,1971082,Senior Citizen,Bus,184,1.0,1.0,1124.0,44229,17179,2017-01-03,05:51:23,2017-01-03,06:21:23
4,4781875,Student,Bus,184,1.0,5.0,1073.0,43099,42109,2017-01-03,12:44:00,2017-01-03,12:53:48

预处理每天的数据

1.清除无效标签项

2.将不满足时间范围的值去除

In [95]:
Bus_Data=Bus_Data[(Bus_Data.Ride_start_time>="05:30:00")&(Bus_Data.Ride_start_time<"23:30:00")]
Bus_Data=Bus_Data[(Bus_Data.Ride_end_time>="05:30:00")&(Bus_Data.Ride_end_time<"23:30:00")]

In [96]:
Bus_start_Data=Bus_Data.sort_values('Ride_start_time')
Bus_end_Data=Bus_Data.sort_values('Ride_end_time')

配置储存数据的矩阵 

T：时间片            66

N：站点数            4831

D：每个站点的数据维度 2

In [3]:
import numpy as np
import torch
import pickle
data_np=np.zeros([59,4850,73,2], dtype = int, order = 'C')

/home/user/Software/miniconda3/envs/pvcgn_env/lib/python3.8/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

获取站点对应的数字，以及站点对应数据字典

In [24]:
stn_data=pd.read_csv("./stn_all_data.csv",low_memory=False)
stn_to_num = dict(zip((stn_data['stn_data']),stn_data['stn_data_index']))

生成时间间隔列表

In [25]:
time_data=pd.date_range(start = '05:30:00',periods = 73,freq = '15min')
time_dat=time_data.strftime("%H:%M:%S")
time_dat[0]

'05:30:00'

In [138]:
time_dat[72]

'23:30:00'

In [26]:
for (Bus_FileName,i) in zip(Bus_FileName_DirList,range(0,59)):
    Bus_Data=pd.read_csv(os.path.join(BUS_PATH,Bus_FileName),low_memory=False)
    Bus_Data=Bus_Data.iloc[:, 7:]
    Bus_Data=Bus_Data[(Bus_Data.Ride_start_time>="05:30:00")&(Bus_Data.Ride_start_time<"23:30:00")]
    Bus_start_Data=Bus_Data.sort_values('Ride_start_time')
    print(Bus_FileName)
    for Boarding_stn in Bus_start_Data.Boarding_stop_stn.unique():
        Bus_start_Data_Boarding_stn=Bus_start_Data[Bus_start_Data.Boarding_stop_stn.isin([Boarding_stn])]
        N_num=stn_to_num[Boarding_stn]
        # print(N_num)
        for T_num in range(0,72):
            D_num_0=len(Bus_start_Data_Boarding_stn[(Bus_start_Data_Boarding_stn.Ride_start_time>=time_dat[T_num])&(Bus_start_Data_Boarding_stn.Ride_start_time<time_dat[T_num+1])])
            data_np[i,N_num,T_num,0]=D_num_0

2017-01-01_Bus.csv
2017-01-02_Bus.csv
2017-01-03_Bus.csv
2017-01-04_Bus.csv
2017-01-05_Bus.csv
2017-01-06_Bus.csv
2017-01-07_Bus.csv
2017-01-08_Bus.csv
2017-01-09_Bus.csv
2017-01-10_Bus.csv
2017-01-11_Bus.csv
2017-01-12_Bus.csv
2017-01-13_Bus.csv
2017-01-14_Bus.csv
2017-01-15_Bus.csv
2017-01-16_Bus.csv
2017-01-17_Bus.csv
2017-01-18_Bus.csv
2017-01-19_Bus.csv
2017-01-20_Bus.csv
2017-01-21_Bus.csv
2017-01-22_Bus.csv
2017-01-23_Bus.csv
2017-01-24_Bus.csv
2017-01-25_Bus.csv
2017-01-26_Bus.csv
2017-01-27_Bus.csv
2017-01-28_Bus.csv
2017-01-29_Bus.csv
2017-01-30_Bus.csv
2017-01-31_Bus.csv
2017-02-01_Bus.csv
2017-02-02_Bus.csv
2017-02-03_Bus.csv
2017-02-04_Bus.csv
2017-02-05_Bus.csv
2017-02-06_Bus.csv
2017-02-07_Bus.csv
2017-02-08_Bus.csv
2017-02-09_Bus.csv
2017-02-10_Bus.csv
2017-02-11_Bus.csv
2017-02-12_Bus.csv
2017-02-13_Bus.csv
2017-02-14_Bus.csv
2017-02-15_Bus.csv
2017-02-16_Bus.csv
2017-02-17_Bus.csv
2017-02-18_Bus.csv
2017-02-19_Bus.csv
2017-02-20_Bus.csv
2017-02-21_Bus.csv
2017-02-22_Bus.csv
2017-02-23_Bus.csv
2017-02-24_Bus.csv
2017-02-25_Bus.csv
2017-02-26_Bus.csv
2017-02-27_Bus.csv
2017-02-28_Bus.csv

In [27]:
file = open('data_np.pickle', 'wb')
pickle.dump(data_np, file)
file.close()

In [104]:
Bus_start_Data.head(5)

,Boarding_stop_stn,Alighting_stop_stn,Ride_start_date,Ride_start_time,Ride_end_date,Ride_end_time
2114902,64381,14141,2017-01-01,05:30:00,2017-01-01,06:35:12
1576786,21379,22009,2017-01-01,05:30:00,2017-01-01,05:33:23
1887647,63269,64031,2017-01-01,05:30:00,2017-01-01,05:42:00
1204703,46239,45139,2017-01-01,05:30:01,2017-01-01,06:11:27
221291,76291,75009,2017-01-01,05:30:02,2017-01-01,05:45:02

In [149]:
Bus_start_Data[Bus_start_Data.Boarding_stop_stn.isin([64381])].head(20)

,Boarding_stop_stn,Alighting_stop_stn,Ride_start_date,Ride_start_time,Ride_end_date,Ride_end_time
2114902,64381,14141,2017-01-01,05:30:00,2017-01-01,06:35:12
2124465,64381,81089,2017-01-01,05:30:02,2017-01-01,05:58:24
1888145,64381,63281,2017-01-01,05:31:11,2017-01-01,05:45:02
2126941,64381,81219,2017-01-01,05:39:36,2017-01-01,06:05:38
2122651,64381,63039,2017-01-01,05:39:38,2017-01-01,05:49:03
176915,64381,63341,2017-01-01,05:43:20,2017-01-01,05:46:56
1875515,64381,63221,2017-01-01,05:44:43,2017-01-01,05:56:21
1788058,64381,84309,2017-01-01,05:45:49,2017-01-01,06:12:34
1785188,64381,84009,2017-01-01,05:45:50,2017-01-01,06:15:35
2131988,64381,70279,2017-01-01,05:52:18,2017-01-01,06:10:50
2118986,64381,70259,2017-01-01,05:52:18,2017-01-01,06:12:32
663206,64381,80069,2017-01-01,06:03:33,2017-01-01,06:36:28
631718,64381,63281,2017-01-01,06:03:35,2017-01-01,06:14:25
2116120,64381,70259,2017-01-01,06:04:08,2017-01-01,06:27:29
2122445,64381,70259,2017-01-01,06:04:12,2017-01-01,06:27:22
663460,64381,63281,2017-01-01,06:13:29,2017-01-01,06:23:13
647373,64381,63281,2017-01-01,06:13:30,2017-01-01,06:23:23
672946,64381,63281,2017-01-01,06:13:32,2017-01-01,06:23:21
2113285,64381,63029,2017-01-01,06:19:06,2017-01-01,06:29:00
1882233,64381,63221,2017-01-01,06:20:34,2017-01-01,06:31:19

In [17]:
with open('./data_all_np.pickle', 'rb') as file:
    a_dict1 =pickle.load(file)

In [18]:
a_dict1.shape

(59, 4850, 73, 2)

In [4]:
Reg_List=[]
for Bus_FileName in Bus_FileName_DirList:
    Bus_Data=pd.read_csv(os.path.join(BUS_PATH,Bus_FileName),low_memory=False)
    Reg_List=Reg_List+(list(Bus_Data.Boarding_stop_stn.unique()))
    Reg_List=Reg_List+(list(Bus_Data.Alighting_stop_stn.unique()))
    print(Bus_FileName)
    
a=set(Reg_List)
# a=[]
# for i in Reg_List:
#     a=a+Reg_List
  
stn_list=list(a)
stn_list.sort()
data=pd.DataFrame({'stn_date':stn_list})
data.to_csv("./stn_all_data.csv",index=False)

2017-01-01_Bus.csv
2017-01-02_Bus.csv
2017-01-03_Bus.csv
2017-01-04_Bus.csv
2017-01-05_Bus.csv
2017-01-06_Bus.csv
2017-01-07_Bus.csv
2017-01-08_Bus.csv
2017-01-09_Bus.csv
2017-01-10_Bus.csv
2017-01-11_Bus.csv
2017-01-12_Bus.csv
2017-01-13_Bus.csv
2017-01-14_Bus.csv
2017-01-15_Bus.csv
2017-01-16_Bus.csv
2017-01-17_Bus.csv
2017-01-18_Bus.csv
2017-01-19_Bus.csv
2017-01-20_Bus.csv
2017-01-21_Bus.csv
2017-01-22_Bus.csv
2017-01-23_Bus.csv
2017-01-24_Bus.csv
2017-01-25_Bus.csv
2017-01-26_Bus.csv
2017-01-27_Bus.csv
2017-01-28_Bus.csv
2017-01-29_Bus.csv
2017-01-30_Bus.csv
2017-01-31_Bus.csv
2017-02-01_Bus.csv
2017-02-02_Bus.csv
2017-02-03_Bus.csv
2017-02-04_Bus.csv
2017-02-05_Bus.csv
2017-02-06_Bus.csv
2017-02-07_Bus.csv
2017-02-08_Bus.csv
2017-02-09_Bus.csv
2017-02-10_Bus.csv
2017-02-11_Bus.csv
2017-02-12_Bus.csv
2017-02-13_Bus.csv
2017-02-14_Bus.csv
2017-02-15_Bus.csv
2017-02-16_Bus.csv
2017-02-17_Bus.csv
2017-02-18_Bus.csv
2017-02-19_Bus.csv
2017-02-20_Bus.csv
2017-02-21_Bus.csv
2017-02-22_Bus.csv
2017-02-23_Bus.csv
2017-02-24_Bus.csv
2017-02-25_Bus.csv
2017-02-26_Bus.csv
2017-02-27_Bus.csv
2017-02-28_Bus.csv

In [9]:
stn_all_data=pd.read_csv('./stn_all_data.csv')

In [13]:
stn_all_data.insert(1,"stn_data_index",range(0,len(stn_all_data.stn_data)))

In [15]:
stn_all_data.to_csv("./stn_all_data.csv",index=False)

In [19]:
with open('./data_all_np.pickle', 'rb') as file:
    a_dict1 =pickle.load(file)

In [20]:
a_dict1[0,0:20,:,:]

array([[[ 0,  0],
        [ 0,  0],
        [ 0,  0],
        ...,
        [ 0,  0],
        [ 0,  0],
        [ 0,  0]],

       [[ 4,  0],
        [ 7,  2],
        [11,  0],
        ...,
        [43,  3],
        [13,  1],
        [ 0,  0]],

       [[ 0,  0],
        [15,  0],
        [11,  0],
        ...,
        [20,  2],
        [22,  8],
        [ 0,  0]],

       ...,

       [[ 0,  0],
        [ 2,  2],
        [ 3,  6],
        ...,
        [ 9,  4],
        [ 4,  3],
        [ 0,  0]],

       [[ 0,  0],
        [ 0,  0],
        [ 0,  0],
        ...,
        [ 4,  0],
        [ 4,  0],
        [ 0,  0]],

       [[ 0,  0],
        [ 0,  0],
        [ 2,  0],
        ...,
        [ 2,  2],
        [ 0, 10],
        [ 0,  0]]])

## 获得最多的站点

In [ ]:
max_stn=0
for (Bus_FileName,i) in zip(Bus_FileName_DirList,range(0,59)):
    Bus_Data=pd.read_csv(os.path.join(BUS_PATH,Bus_FileName),low_memory=False)
    unique_stations = len(Bus_Data.Boarding_stop_stn.unique())
    if unique_stations > max_stn:
        max_stn = unique_stations
        print(f"File {Bus_FileName} with most unique stations: {unique_stations} ")

2017-01-01_Bus.csv
2017-01-03_Bus.csv
2017-01-04_Bus.csv
2017-01-09_Bus.csv
2017-01-13_Bus.csv
2017-01-25_Bus.csv
2017-02-15_Bus.csv
2017-02-21_Bus.csv

In [ ]:
Bus_Data=pd.read_csv(os.path.join(BUS_PATH,"2017-02-21_Bus.csv"),low_memory=False)

Bus_Data=Bus_Data[(Bus_Data.Ride_start_time>="05:30:00")&(Bus_Data.Ride_start_time<"23:30:00")]
Bus_Data

In [ ]:
import os
import re

import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import pandas as pd


BUS_PATH="../DATA/Singapore_bus"
dirs=os.listdir(BUS_PATH)
Bus_FileName_DirList=dirs


Bus_Data=pd.read_csv(os.path.join(BUS_PATH,"2017-02-21_Bus.csv"),low_memory=False)

Bus_Data=Bus_Data[(Bus_Data.Ride_start_time>="05:30:00")&(Bus_Data.Ride_start_time<"23:30:00")]

def df_insert(df, n, arr, ignore_index=True):
    df1 = df.iloc[:n]
    df2 = df.iloc[n:]
    df0 = df1.append([arr], ignore_index).append(df2, ignore_index)
    return df0

Bus_Data['a']=' '
Bus_Data.Ride_start_time=pd.to_datetime(Bus_Data.Ride_start_date+Bus_Data.a+Bus_Data.Ride_start_time)
Bus_Data.Ride_end_time=pd.to_datetime(Bus_Data.Ride_end_date+Bus_Data.a+Bus_Data.Ride_end_time)
temp_stn=[]
all_max_stn=[]
all_max_stn_bus_num=[]
for Bus_Service_Number_temp in Bus_Data.Bus_Service_Number.unique():
# for Bus_Service_Number_temp in ['125']:
    
    Bus_Data_xxx=Bus_Data.loc[(Bus_Data['Direction']==0.0)&(Bus_Data['Bus_Service_Number']==Bus_Service_Number_temp)]
    for Bus_Reg_Num in Bus_Data_xxx.Bus_Reg_Num.unique():
        for Bus_Trip_Num in Bus_Data_xxx.loc[(Bus_Data_xxx['Bus_Reg_Num']==Bus_Reg_Num)].Bus_Trip_Num.unique():
            bus_xxx=Bus_Data_xxx.loc[(Bus_Data_xxx['Bus_Reg_Num']==Bus_Reg_Num)&(Bus_Data_xxx['Bus_Trip_Num']==Bus_Trip_Num)]

            new_bus_stn_bo=pd.DataFrame({'Stop_stn':bus_xxx.Boarding_stop_stn,'Ride_time':bus_xxx.Ride_start_time})
            new_bus_stn_al=pd.DataFrame({'Stop_stn':bus_xxx.Alighting_stop_stn,'Ride_time':bus_xxx.Ride_end_time})

            new_add_bo_al=new_bus_stn_bo.merge(new_bus_stn_al,how='outer').sort_values('Ride_time')
            new_add_bo_al

            a=new_add_bo_al
            # a['Ride_time']=pd.to_datetime(a.Ride_time)
            a.drop_duplicates('Stop_stn','first',inplace=True)

            a['sub']=pd.to_timedelta(0)

            for i in range(1,a.shape[0]):
                if  a.iloc[i,1]-a.iloc[i-1,1]<pd.to_timedelta("15min"):
                    a.iloc[i,2]=a.iloc[i,1]-a.iloc[i-1,1]+a.iloc[i-1,2]
                else:
                    a=a.iloc[:i,:]
                    break
                
            a=a.reset_index(drop=True)
            if a.shape[0]>6:
                temp_stn.append(a)
    if len(temp_stn)>0:
        pass
    else:
        continue
    def takeSecond(elem):
        return elem.shape[0]
    temp_stn.sort(key=takeSecond,reverse=True)

    

    temp_max_stn=temp_stn[0]
    test_stn=[]
    for i in range(1,len(temp_stn)-3):
        t=pd.concat([temp_stn[i], temp_max_stn, temp_max_stn]).Stop_stn.drop_duplicates(keep=False)
        t_len=len(t)
        if t_len>0:
            if t.index[0]==0:

                continue
            else:
                for t_index in t.index:
                    t_stn=temp_stn[i].at[t_index-1,'Stop_stn']
                    t_last_index=temp_max_stn[temp_max_stn.Stop_stn==t_stn].index.tolist()
                    t_next_index=t_last_index[0]+1
                    max_sub_time=temp_max_stn.loc[t_next_index:,'sub']-temp_max_stn.loc[t_last_index[0],'sub']
                    temp_sub_time=temp_stn[i].at[t_index,'sub']-temp_stn[i].at[t_index-1,'sub']
                    num_index=0
                    for sub_time in max_sub_time:
                        if temp_sub_time>sub_time:
                            num_index+=1
                        else:
                            break

                    temp_max_stn=df_insert(temp_max_stn,t_last_index[0]+num_index+1,temp_stn[i][temp_stn[i].Stop_stn.isin([temp_stn[i].at[t_index,'Stop_stn']])])

    print(Bus_Service_Number_temp)
    all_max_stn_bus_num.append(str(Bus_Service_Number_temp))
    all_max_stn.append(temp_max_stn)

In [24]:

bus_dict = dict(zip(all_max_stn_bus_num, all_max_stn))

In [27]:
import pickle
file = open('phy_graph.pickle', 'wb')
pickle.dump(bus_dict, file)
file.close()

In [4]:
import pickle
with open('./phy_graph_0_new.pickle', 'rb') as file:
    phy_graph_0 =pickle.load(file)
with open('./phy_graph_1_new.pickle', 'rb') as file:
    phy_graph_1 =pickle.load(file)

In [5]:
server_del_key = ['184', '185', '105', '961', '854', '162', '20', '142', '950', '56', '804', '57', '139', '179', '969', '96', '190', '70', '225', '904', '192', '183', '107', '229', '75', '960', '979M', '123', '913', '18', '140', '262', '55', '506', '92', '72', '7', '129', '118', '251', '132', '852', '859', '66', '166', '410', '26', '136', '81', '963', '856', '109', '325', '240', '86', '302', '33', '155', '63M', '922', '22', '59', '100', '181', '17B', '803', '11', '85', '133', '243', '812', '255', '82', '54', '48', '170', '990', '292', '31', '985', '358', '197', '122', '8', '37', '159', '174', '857', '74', '196', '98M', '151', '111', '45', '300', '63', '189', '172', '222', '911', '139M', '167', '165', '920', '52', '171', '89', '4', '119', '13', '163', '965', '77', '200', '187', '156', '983', '115', '15', '78', '30', '50', '700', '382', '855', '79', '193', '941', '19', '62', '87', '141', '882', '36', '307', '853', '147', '900', '93', '130', '124', '252', '97', '188', '83', '927', '161', '359', '241', '980', '945', '400', '972', '315', '32', '198', '23', '145', '163M', '175', '60', '354', '182', '947', '3', '143', '46', '134', '256', '293', '38', '160', '925', '770', '112', '170X', '27', '67', '14', '806', '106', '61', '64', '186', '970', '101', '157', '979', '16', '176', '138', '51', '53', '851', '28', '90', '860', '5', '127', '249', '88', '371', '42', '65', '84', '201', '386', '116', '238', '6', '153', '94', '9', '131', '253', '10', '168', '858', '98', '120', '242', '35', '41', '301', '231', '43', '24', '903', '17', '268', '912', '135', '257', '43M', '811', '12', '966', '246', '975', '39', '333', '76', '169', '113', '334', '235', '150', '272', '335', '883', '102', '308', '901', '261', '49', '180', '103', '2', '91', '80', '53M', '123M', '372', '800', '403', '324', '117', '964', '154', '282', '69', '859A', '191', '228', '21', '265', '58', '25', '95', '254', '47', '285', '291', '178', '121', '518', '158', '99', '73', '402', '182M', '195', '317', '232', '962', '34', '173', '825', '269', '258', '502', '125', '40', '199', '143M', '29', '273', '805']

In [6]:
line_station = []
for i in server_del_key:
    line_station.append(phy_graph_1[i].Stop_stn.to_list())

In [7]:
flattened_set = set(item for sublist in line_station for item in sublist)
unique_flattened_list = list(flattened_set)

In [8]:
len(unique_flattened_list)

4401

In [9]:
unique_flattened_list

[98309,
 65541,
 98311,
 24581,
 49159,
 11,
 98319,
 65551,
 49169,
 24599,
 24601,
 49179,
 24609,
 24611,
 49189,
 24619,
 24621,
 49199,
 41011,
 24629,
 24631,
 41019,
 41021,
 24639,
 24641,
 41029,
 41031,
 24651,
 41041,
 41049,
 82009,
 41051,
 82011,
 24671,
 41061,
 24679,
 24681,
 41069,
 82029,
 41071,
 82032,
 24689,
 24691,
 41079,
 41081,
 24699,
 41089,
 82049,
 82051,
 82059,
 82061,
 41101,
 41109,
 82069,
 82071,
 41111,
 41119,
 82079,
 82081,
 41121,
 41129,
 82089,
 82091,
 41131,
 41139,
 82099,
 41141,
 82109,
 41149,
 41151,
 41159,
 82119,
 82129,
 82139,
 82149,
 82159,
 33011,
 33019,
 33021,
 82179,
 33029,
 33031,
 65801,
 33039,
 33041,
 33049,
 74011,
 33051,
 33059,
 74021,
 82221,
 74031,
 82231,
 74041,
 25009,
 66009,
 66011,
 66019,
 25061,
 66021,
 66029,
 66031,
 25071,
 66039,
 66041,
 16891,
 66049,
 66051,
 25099,
 66059,
 66061,
 25109,
 66069,
 66071,
 25119,
 66079,
 66081,
 25129,
 66089,
 66091,
 66099,
 66101,
 66109,
 66111,
 66119,
 66121,
 25169,
 66129,
 66131,
 25179,
 66139,
 66141,
 16991,
 25189,
 66149,
 66151,
 25199,
 17009,
 25201,
 17011,
 66161,
 17019,
 66171,
 17021,
 25219,
 25221,
 17029,
 17031,
 66181,
 25229,
 17039,
 25231,
 17041,
 66191,
 25239,
 58009,
 17049,
 58011,
 17051,
 66201,
 25249,
 58019,
 17059,
 58021,
 17061,
 66211,
 25259,
 58029,
 17069,
 17071,
 66221,
 25269,
 17079,
 66231,
 58041,
 99009,
 58049,
 17091,
 99011,
 58051,
 66241,
 17099,
 99019,
 99021,
 58061,
 58059,
 17101,
 66251,
 17109,
 99029,
 17111,
 99031,
 58071,
 58069,
 66261,
 66271,
 17119,
 99041,
 17121,
 99039,
 58081,
 58079,
 24571,
 17129,
 99049,
 17131,
 25321,
 58091,
 58089,
 17139,
 25331,
 58101,
 17141,
 58099,
 66291,
 58109,
 17149,
 17151,
 58111,
 25341,
 66301,
 99071,
 66309,
 17159,
 58119,
 17161,
 58121,
 25351,
 66311,
 99081,
 99079,
 66319,
 17169,
 58129,
 17171,
 58131,
 66321,
 99091,
 99089,
 25369,
 66329,
 17179,
 66331,
 17181,
 25371,
 58141,
 99101,
 99099,
 66339,
 17189,
 66341,
 58151,
 58149,
 17191,
 25381,
 99111,
 99109,
 66349,
 66351,
 58159,
 58161,
 99119,
 9011,
 66359,
 25399,
 58169,
 66361,
 58171,
 99131,
 99129,
 9022,
 9023,
 66369,
 66371,
 99139,
 25411,
 58181,
 17221,
 66379,
 25419,
 17229,
 9037,
 9038,
 66381,
 25421,
 58191,
 25429,
 66389,
 9047,
 17239,
 17241,
 9048,
 99161,
 25431,
 58201,
 66391,
 66399,
 25439,
 17249,
 25441,
 50019,
 9059,
 58211,
 99171,
 17251,
 50021,
 66409,
 25449,
 58219,
 17259,
 50029,
 99181,
 50031,
 25451,
 58221,
 66411,
 66419,
 25459,
 50037,
 50038,
 99189,
 66421,
 50041,
 25461,
 58229,
 17269,
 25469,
 66429,
 66431,
 17279,
 50049,
 58241,
 50051,
 25479,
 66439,
 58249,
 17289,
 50059,
 58251,
 66451,
 58259,
 50069,
 17299,
 9111,
 50071,
 25499,
 66459,
 66461,
 17309,
 58271,
 50079,
 9121,
 50081,
 25509,
 66471,
 58279,
 58281,
 91049,
 9131,
 17319,
 50089,
 25519,
 66479,
 58289,
 17329,
 9139,
 58291,
 9141,
 91059,
 66481,
 66489,
 58299,
 66491,
 58301,
 9149,
 91069,
 17339,
 66499,
 58309,
 9159,
 91079,
 50119,
 58311,
 91081,
 66509,
 17359,
 58319,
 9169,
 58321,
 91091,
 91089,
 50129,
 66519,
 58329,
 17369,
 9179,
 17371,
 58331,
 91099,
 66529,
 17379,
 58339,
 58341,
 17381,
 9191,
 66539,
 58349,
 66541,
 50159,
 17389,
 50161,
 58351,
 1012,
 66549,
 66551,
 58359,
 50169,
 58361,
 50171,
 1019,
 9213,
 58369,
 9219,
 58371,
 1029,
 50179,
 58379,
 50189,
 58381,
 1039,
 50191,
 58389,
 58391,
 50199,
 50201,
 42011,
 58401,
 50209,
 42019,
 50211,
 1059,
 42021,
 66599,
 58409,
 58411,
 42029,
 50221,
 42031,
 58419,
 58421,
 50229,
 42039,
 50231,
 42041,
 50239,
 42049,
 50241,
 83011,
 42051,
 50249,
 42059,
 50251,
 42061,
 58451,
 83029,
 50261,
 42071,
 83031,
 1112,
 1109,
 1113,
 58459,
 1119,
 1121,
 83049,
 42089,
 42091,
 1129,
 58481,
 83059,
 1139,
 42099,
 83062,
 58489,
 58491,
 42109,
 50301,
 42111,
 58499,
 58501,
 42119,
 83079,
 83081,
 58509,
 58511,
 42129,
 50321,
 58519,
 58521,
 83099,
 42139,
 42141,
 83101,
 58529,
 58531,
 42149,
 83109,
 83111,
 42151,
 58539,
 83119,
 42159,
 42161,
 83121,
 50351,
 83129,
 42169,
 42171,
 83131,
 1211,
 1219,
 83139,
 42181,
 83141,
 42179,
 1229,
 83149,
 42191,
 83151,
 42189,
 1239,
 83159,
 42199,
 42201,
 34011,
 34009,
 83169,
 42209,
 42211,
 34019,
 34021,
 83179,
 42219,
 42221,
 83181,
 34031,
 34029,
 83189,
 42229,
 42231,
 83191,
 34041,
 34039,
 83199,
 42239,
 75009,
 83201,
 34051,
 34049,
 42241,
 83209,
 42249,
 75019,
 34059,
 42259,
 83219,
 75031,
 83229,
 75039,
 1311,
 83231,
 1319,
 83239,
 75051,
 1329,
 83249,
 75059,
 83251,
 75061,
 34101,
 42291,
 1339,
 42299,
 1341,
 75069,
 75071,
 83261,
 34109,
 42301,
 1349,
 83269,
 42311,
 75079,
 75081,
 83271,
 42309,
 42319,
 83279,
 75089,
 83281,
 83291,
 75099,
 75101,
 83299,
 83301,
 75109,
 75111,
 83309,
 83311,
 75121,
 83319,
 83321,
 75129,
 75131,
 83329,
 1411,
 83331,
 75141,
 75139,
 1419,
 1421,
 83341,
 75151,
 75149,
 1429,
 75159,
 83351,
 75161,
 26011,
 75169,
 83361,
 75171,
 26021,
 83371,
 75179,
 26031,
 83381,
 67009,
 26049,
 67011,
 75201,
 75209,
 67019,
 26059,
 67021,
 75219,
 75221,
 67029,
 26069,
 75229,
 75231,
 67039,
 67041,
 26079,
 1511,
 75239,
 75241,
 67049,
 67051,
 26089,
 1519,
 1521,
 75249,
 75251,
 67059,
 67061,
 49149,
 26099,
 1529,
 75259,
 67069,
 26109,
 67071,
 26111,
 75269,
 1541,
 67079,
 75271,
 67081,
 26119,
 26121,
 75279,
 67089,
 75281,
 26129,
 26131,
 1559,
 75289,
 75291,
 67101,
 26141,
 75299,
 67109,
 67111,
 26151,
 67119,
 75311,
 67121,
 26161,
 75319,
 67129,
 67131,
 26171,
 75329,
 67139,
 67141,
 1611,
 75339,
 75341,
 67151,
 1619,
 1621,
 75349,
 67159,
 75351,
 67161,
 26201,
 18011,
 1629,
 75359,
 67169,
 26209,
 18019,
 67171,
 26211,
 75361,
 1639,
 18021,
 75369,
 67179,
 75371,
 67181,
 26221,
 18029,
 75379,
 67189,
 75381,
 67191,
 18041,
 67199,
 75391,
 59009,
 18049,
 59011,
 67201,
 26241,
 18051,
 67209,
 26249,
 59019,
 67211,
 59021,
 26251,
 18061,
 18059,
 67219,
 26259,
 59029,
 26261,
 59031,
 18071,
 67221,
 18069,
 67229,
 26269,
 59039,
 18079,
 59041,
 67231,
 18081,
 67239,
 26279,
 59049,
 67241,
 59051,
 18089,
 67249,
 26289,
 59059,
 67251,
 18101,
 59061,
 18099,
 67259,
 26299,
 59069,
 18109,
 18111,
 59072,
 59073,
 67261,
 67269,
 18119,
 67271,
 18121,
 59081,
 59079,
 26311,
 67279,
 18129,
 59089,
 59091,
 18131,
 67281,
 26321,
 67289,
 59099,
 67291,
 18141,
 59101,
 26331,
 67299,
 18149,
 59109,
 59111,
 67301,
 18151,
 67309,
 26349,
 59119,
 18159,
 59121,
 59129,
 67321,
 59131,
 18171,
 67329,
 26369,
 59139,
 67331,
 59141,
 18181,
 18179,
 67339,
 26379,
 59149,
 67341,
 18191,
 18189,
 10129,
 67349,
 26389,
 59159,
 67351,
 10009,
 59161,
 10011,
 18201,
 18199,
 26399,
 67359,
 10017,
 10018,
 59171,
 67361,
 10021,
 18211,
 26409,
 67369,
 59179,
 67371,
 59181,
 18221,
 50991,
 67379,
 26419,
 67381,
 59189,
 10039,
 59191,
 10041,
 67389,
 26429,
 67391,
 26431,
 10049,
 18241,
 10051,
 51011,
 59199,
 59201,
 67399,
 18239,
 18249,
 67401,
 10059,
 51019,
 18251,
 10061,
 51021,
 26441,
 67409,
 59209,
 67411,
 26451,
 10069,
 51029,
 18261,
 10071,
 51031,
 59219,
 67419,
 59221,
 18269,
 26461,
 10079,
 51039,
 59231,
 18271,
 10081,
 51041,
 59229,
 18279,
 59239,
 10089,
 51049,
 59241,
 18281,
 10091,
 51051,
 67431,
 67439,
 18289,
 59249,
 10099,
 51059,
 10101,
 67441,
 59251,
 67449,
 67451,
 59259,
 10109,
 51069,
 10111,
 59261,
 51071,
 18301,
 67459,
 67461,
 59269,
 10119,
 51079,
 59271,
 92041,
 18309,
 18311,
 67469,
 10121,
 59279,
 67471,
 59281,
 51089,
 10131,
 92049,
 51091,
 92051,
 67479,
 18319,
 67481,
 18329,
 51099,
 10139,
 10141,
 92061,
 59291,
 92059,
 51101,
 67489,
 67491,
 18339,
 51109,
 59301,
 10151,
 92071,
 92069,
 10149,
 67499,
 51111,
 59309,
 67501,
 51119,
 92079,
 10161,
 92081,
 59311,
 67509,
 59319,
 67511,
 92089,
 59321,
 10171,
 10169,
 51131,
 92091,
 67519,
 67521,
 59329,
 92099,
 10179,
 ...]

In [10]:
def diff(listA,listB):
    #求交集的两种方式
    retA = [i for i in listA if i in listB]
    retB = list(set(listA).intersection(set(listB)))
    
    print ("retA is: ",retA)
    print ("retB is: ",retB)
    
    #求并集
    retC = list(set(listA).union(set(listB)))
    print ("retC1 is: ",retC)
    
    #求差集，在B中但不在A中
    retD = list(set(listB).difference(set(listA)))
    print ("retD is: ",retD)
    
    retE = [i for i in listB if i not in listA]
    print ("retE is: ",retE)

In [11]:
import pandas as pd
import numpy as np

data=np.load("./temp_mat_v1_new.npy")
data=data+np.eye(4401)

In [2]:
# 单位矩阵
np.eye(4401)

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [12]:
data

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [13]:
origin_id=[([i]*len(data[:,0]))for i in range(len(data[:,0]))]
destination_id=[[j for j in range(0,len(data[:,0]))]for i in range(len(data[:,0]))]
connection=[list(data[i,:])for i in range(len(data[:,0]))]

In [14]:
origin_id=[i for item in origin_id for i in item]
destination_id=[i for item in destination_id for i in item]
connection=[i for item in connection for i in item]

In [15]:
rel_id=[i for i in range(len(origin_id))]
type=['geo']*len(origin_id)

In [17]:
d={'rel_id':rel_id,'type':type,'origin_id':origin_id,'destination_id':destination_id,'connection':connection}
data=pd.DataFrame(data=d)

In [18]:
data.to_csv('./URBAN_BUS.rel',index=False)

In [19]:
ab = [[1,2,3], [5,8], [7,8,9]]
print([i for item in ab for i in item])

[1, 2, 3, 5, 8, 7, 8, 9]

In [20]:
import pandas as pd
import numpy as np

data=np.load("./temp_mat_v1_new.npy")

In [21]:
data

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [22]:
sum(map(sum,data))/2

6950.5