In [1]:
import pandas as pd

data = pd.read_csv('./URBAN_BUS.dyna')

In [2]:
data

           dyna_id   type                  time  entity_id  inflow  outflow
0                0  state  2017-01-01T05:30:00Z          0       4        0
1                1  state  2017-01-01T05:45:00Z          0       7        2
2                2  state  2017-01-01T06:00:00Z          0      11        0
3                3  state  2017-01-01T06:15:00Z          0       5        1
4                4  state  2017-01-01T06:30:00Z          0       1        0
...            ...    ...                   ...        ...     ...      ...
18955102  18955102  state  2017-02-28T22:30:00Z       4400       2        2
18955103  18955103  state  2017-02-28T22:45:00Z       4400       0        2
18955104  18955104  state  2017-02-28T23:00:00Z       4400       2        1
18955105  18955105  state  2017-02-28T23:15:00Z       4400       5        1
18955106  18955106  state  2017-02-28T23:30:00Z       4400       0        0

[18955107 rows x 6 columns]

In [3]:
zero_ratio_inflow = (data['inflow'] == 0).sum() / len(data)

In [4]:
zero_ratio_inflow

0.2859923713435118

In [5]:
zero_ratio_outflow = (data['outflow'] == 0).sum() / len(data)

In [6]:
zero_ratio_outflow

0.26712415814904134